<div style="text-align: center">
  <h4><a id="infoPanelTitle" href="#"><i class="fa fa-level-up"></i> Logging in Oregon</a></h4>
  <div id="infoPanelSubTitle" class="legend-title"></div>
  {{> exploreMenu}}
  <div id="dataQualityAlert" style="display: none;" class="legend-title">
    <hr>
    <div style="text-align: center" class="legend-title">Clearcuts Only</div>
    <small style="color: maroon;">
      Detailed logging records are not <br>
      available for this National Forest,<br>
      therefore only all known clearcut areas<br>
      are shown in the color below.
      <br><br>
    </small>
    <div class="legend-scale">
      <ul class="legend-items">
        <li><span class="legend-item" style='background: {{alternateLoggingColor}};'></span>Clearcut</li>
      </ul>
    </div>
  </div>
  <div id="forestLossAlert" style="display: none;" class="legend-title">
    <hr>
    <div style="text-align: center" class="legend-title">Recent Forest Loss (2001-2017)</div>
    <small style="color: maroon;">
      Logging activities on private, state, and<br>
      tribal lands were inventoried using Landsat<br>
      imagery. The vast majority of the areas<br>
      shown in the color below are clearcut<br>
      logging with a very small component of other<br>
      forest loss picked up by the satellites (e.g.,<br>
      thinning, agriculture, and fire).
      <br><br>
    </small>
    <div class="legend-scale">
      <ul class="legend-items">
        <li><span class="legend-item" style='background: {{alternateLoggingColor}};'></span>Clearcut</li>
      </ul>
    </div>
  </div>
</div>
<div id="legendWidget" style="text-align: center;">
  <hr>
  <div class="legend-title">
    <small>
      Logging in federal public lands data<br>
      obtained from the <a href="https://data.fs.usda.gov/geodata/edw/datasets.php?xmlKeyword=Timber+Harvests">US Forest Service</a> and<br>
      <a href="https://www.blm.gov/or/gis/data-details.php?id=421">BLM</a> GIS public records<br>
      <br>
    </small>
  </div>
  <div class="legend-entry" style="text-align: center;">
    <div class="legend-title">Logging Type</div>
    <div class="legend-scale">
      <ul class="legend-items">
        {{#each loggingTypeLegend}}
        <li><span class="legend-item" style='background:{{this.color}};'></span> {{this.text}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
<div style="text-align: center"><small id="tipToClick"><span>(Click on a shape to view details)</span></small></div>
<hr>
<div style="text-align: center; margin-bottom: 10px;" class="legend-title">Shape Opacity (<span id="opacityLabel">{{layerOpacity}}</span>%)</div>
<div style="width: 85%; margin: 0 auto;" id="opacitySlider" class="fly wrap"></div>
<div style="text-align: center;  margin-top: 10px;" class="legend-explanation">Move the slider to adjust opacity</div>
<div id="rangeWidgets">
  <hr>
  <div style="text-align: center; margin-bottom: 10px;" class="legend-title">Date Range: <span id="fromLabel"></span> to <span id="toLabel"></span></div>
  <div style="width: 85%; margin: 0 auto;" id="dateRangeSlider" class="fly wrap"></div>

  <div style="text-align: center; margin-top: 10px;" class="legend-explanation">Move sliders to adjust time range</div>
  <hr>
  <div style="text-align: center" class="legend-title">Timeline playback</div>
  <div style="text-align: center" class="playback-controls">
    <div>
      <div class="howl-control">
        <a id="pb-slower" href="#" title="Slower"><img src="../images/turtle.png"></a>
      </div>
      <div class="howl-control">
        <a id="pb-play" href="#" title="Play/Pause"><i class="fa fa-play"></i></a>
      </div>
      <div class="howl-control">
        <a id="pb-stop" href="#" title="Stop"><i class="fa fa-stop"></i></a>
      </div>
      <div class="howl-control">
        <a id="pb-faster" href="#" title="Faster"><img src="../images/rabbit.png"></a>
      </div>
    </div>
  </div>
  <div style="text-align: center" class="legend-explanation">Use buttons for playback control<br>Spacebar toggles play/pause</div>
</div>
<div id="zoomInForRangeWidgets" style="display: none;">
  <hr>
  <div style="text-align: center" class="legend-explanation">Zoom in to enable Timeline Playback</div>
</div>
<hr>
<div id="infoContent"></div>
