<div class="infoContentItem" data-sortby="{{sortDate}}">
  <b>Project Name: {{this.projectName}}</b><br>
  Activity: {{this.loggingActivity}}<br>
  Area: {{this.acres}} Acres<br>
  Date Planned: {{this.datePlanned}}<br>
  Date Contracted: {{this.dateContracted}}<br>
  Date Completed: {{this.dateCompleted}}<br>
</div>
